.hero_area
{
    /* background-image: url(../images/bg2_1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-position-y: -10rem;
    height: 100vh;
}

.hero_area > div 
{
    margin-top: 10rem !important;
}