{% extends "dashboard/index.html" %}

{% load static i18n %}

{% comment %} 
{% block dashtitle %}
    {% trans "Diet Request Details" %}
{% endblock dashtitle %} {% endcomment %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{% static "css/diet_request_overview.css" %}?v={% now "U" %}" />
{% endblock extra_css %}

{% block dash %}
    <div class="container-fluid mb-3">
        <h2 class="text-teal fw-bold d-flex justify-content-between align-items-center mb-5 ">
            <span class="text-dark flex-grow-1 text-center">{% trans "Diet Request Details" %}</span>
            <button class="btn btn-teal btn-sm"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#dietRequestDetailsContent"
                    aria-expanded="true"
                    aria-controls="dietRequestDetailsContent"
                    style="background:#4141e5">
                <i class="fa fa-chevron-down"></i>
            </button>
        </h2>
        <div class="collapse show" id="dietRequestDetailsContent">
            <div class="row w-75 m-auto">
                <div class="col-lg-12 col-md-12 mb-4">
                    <div class="card h-100">
                        <div class="card-header text-light"
                             data-toggle="collapse"
                             data-target="#patientInfo"
                             aria-expanded="true"
                             style="background-color:#4141e5">
                            <h4 class='mb-0 text-center'>
                                {% trans "Patient Information" %}
                            </h4>
                        </div>
                        <div class="card-body collapse show" id="patientInfo">
                            <p>
                                <strong>{% trans "Patient" %}:</strong> {{ diet_request.patient.get_full_name }}
                            </p>
                            <p>
                                <strong>{% trans "Request Date" %}:</strong>
                                <span class="bg-secondary p-1 rounded text-light small">{{ diet_request.date_created }}</span>
                            </p>
                            <p>
                                <strong>{% trans "Verified" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.request_verified %}btn-success{% else %}btn-danger{% endif %}">
                                    {{ diet_request.request_verified|yesno:_("Yes,No") }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 mb-4">
                    <div class="card h-100">
                        <div class="card-header text-light " style="background-color:#4141e5"
                             data-toggle="collapse"
                             data-target="#bmiInfo"
                             aria-expanded="true">
                            <h4 class='mb-0 text-center text-truncate'>
                                {% trans "BMI Information" %}
                            </h4>
                        </div>
                        <div class="card-body collapse show" id="bmiInfo">
                            <p>
                                <strong>{% trans "Height" %}:</strong> {{ bmi.height }} m
                            </p>
                            <p>
                                <strong>{% trans "Weight" %}:</strong> {{ bmi.weight }} kg
                            </p>
                            <p>
                                <strong>{% trans "BMI Value" %}:</strong> {{ bmi.bmi_value|floatformat:2 }}
                            </p>
                            <p>
                                <strong>{% trans "Recorded Date" %}:</strong>
                                <span class="bg-secondary p-1 rounded text-light small">{{ bmi.date_recorded }}</span>
                            </p>
                            <p>
                                <strong>{% trans "Associated Illnesses" %}:</strong>
                                <span class="bg-secondary p-1 rounded text-light small">
                                    {% for illness in bmi.sickness.all %}
                                        {{ illness.get_name_display }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                {% if diabetes %}
                    <div class="col-lg-12 col-md-12 mb-4">
                        <div class="card h-100">
                            <div class="card-header text-light" style="background-color:#4141e5"
                                 data-toggle="collapse"
                                 data-target="#diabetesInfo"
                                 aria-expanded="true">
                                <h4 class='mb-0 text-center text-truncate'>
                                    {% trans "Diabetes Information" %}
                                </h4>
                            </div>
                            <div class="card-body collapse show" id="diabetesInfo">
                                <p>
                                    <strong>{% trans "Glucose Type" %}:</strong> {{ diabetes.glucose_type }}
                                </p>
                                <p>
                                    <strong>{% trans "Fasting Glucose" %}:</strong> {{ diabetes.fasting_glucose }}
                                </p>
                                <p>
                                    <strong>{% trans "HbA1c" %}:</strong> {{ diabetes.hba1c }}
                                </p>
                                <p>
                                    <strong>{% trans "Cholesterol" %}:</strong> {{ diabetes.cholesterol }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if obesity %}
                    <div class="col-lg-12 col-md-12 mb-4">
                        <div class="card h-100">
                            <div class="card-header  text-light" style="background-color:#4141e5"
                                 data-toggle="collapse"
                                 data-target="#obesityInfo"
                                 aria-expanded="true">
                                <h4 class="mb-0 text-light text-truncate">
                                    {% trans "Obesity Information" %}
                                </h4>
                            </div>
                            <div class="card-body collapse show" id="obesityInfo">
                                <p>
                                    <strong>{% trans "Glucose" %}:</strong> {{ obesity.glucose }}
                                </p>
                                <p>
                                    <strong>{% trans "HDL" %}:</strong> {{ obesity.hdl }}
                                </p>
                                <p>
                                    <strong>{% trans "LDL" %}:</strong> {{ obesity.ldl }}
                                </p>
                                <p>
                                    <strong>{% trans "Triglycerides" %}:</strong> {{ obesity.triglycerides }}
                                </p>
                                <p>
                                    <strong>{% trans "Cholesterol" %}:</strong> {{ obesity.cholesterol }}
                                </p>
                                <p>
                                    <strong>{% trans "AC Uric" %}:</strong> {{ obesity.ac_uric }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if diabetes_and_obesity %}
                    <div class="col-lg-12 col-md-12 mb-4">
                        <div class="card h-100">
                            <div class="card-header text-light" style="background-color:#4141e5"
                                 data-toggle="collapse"
                                 data-target="#diabetesObesityInfo"
                                 aria-expanded="true">
                                <h4 class='mb-0 text-center text-truncate'>
                                    {% trans "Diabetes & Obesity Information" %}
                                </h4>
                            </div>
                            <div class="card-body collapse show" id="diabetesObesityInfo">
                                <p>
                                    <strong>{% trans "Glucose" %}:</strong> {{ diabetes_and_obesity.glucose }}
                                </p>
                                <p>
                                    <strong>{% trans "HbA1c" %}:</strong> {{ diabetes_and_obesity.hb1ac }}
                                </p>
                                <p>
                                    <strong>{% trans "HDL" %}:</strong> {{ diabetes_and_obesity.hdl }}
                                </p>
                                <p>
                                    <strong>{% trans "LDL" %}:</strong> {{ diabetes_and_obesity.ldl }}
                                </p>
                                <p>
                                    <strong>{% trans "Triglycerides" %}:</strong> {{ diabetes_and_obesity.triglycerides }}
                                </p>
                                <p>
                                    <strong>{% trans "Cholesterol" %}:</strong> {{ diabetes_and_obesity.cholesterol }}
                                </p>
                                <p>
                                    <strong>{% trans "AC Uric" %}:</strong> {{ diabetes_and_obesity.ac_uric }}
                                </p>
                                <p>
                                    <strong>{% trans "FNS" %}:</strong> {{ diabetes_and_obesity.fns }}
                                </p>
                                <p>
                                    <strong>{% trans "CRP" %}:</strong> {{ diabetes_and_obesity.crp }}
                                </p>
                                <p>
                                    <strong>{% trans "Vitamin D" %}:</strong> {{ diabetes_and_obesity.vitamin_d }}
                                </p>
                                <p>
                                    <strong>{% trans "B12" %}:</strong> {{ diabetes_and_obesity.b12 }}
                                </p>
                                <p>
                                    <strong>{% trans "Magnesium" %}:</strong> {{ diabetes_and_obesity.magnesium }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-12 col-md-12 mb-4">
                    <div class="card h-100">
                        <div class="card-header text-light" style="background-color:#4141e5"
                             data-toggle="collapse"
                             data-target="#lifestyleInfo"
                             aria-expanded="true">
                            <h4 class='mb-0 text-center'>
                                {% trans "Patient's Lifestyle" %}
                            </h4>
                        </div>
                        <div class="card-body collapse show" id="lifestyleInfo">
                            <p>
                                <strong>{% trans "Meals Per Day" %}:</strong>
                                <span class="btn btn-sm btn-info">
                                    {{ diet_request.get_meals_per_day_display }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Between Meals Snacking" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.between_meals %}btn-warning{% else %}btn-success{% endif %}">
                                    {{ diet_request.between_meals|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Sweets Consumption" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.sweets %}btn-warning{% else %}btn-success{% endif %}">
                                    {{ diet_request.sweets|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Fast Food Consumption" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.fast_food %}btn-warning{% else %}btn-success{% endif %}">
                                    {{ diet_request.fast_food|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Water Intake" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.enough_water %}btn-success{% else %}btn-danger{% endif %}">
                                    {{ diet_request.enough_water|yesno:_("Sufficient,Insufficient") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Food Allergies" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.food_allergy %}btn-danger{% else %}btn-success{% endif %}">
                                    {{ diet_request.food_allergy|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            {% if diet_request.food_allergy %}
                                <p>
                                    <strong>{% trans "Allergy detials:" %}</strong>
                                    <span class="bg-secondary p-1 rounded text-light">
                                        {{ diet_request.allergy_details }}
                                    </span>
                                </p>
                            {% endif %}
                            <p>
                                <strong>{% trans "Smoking" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.smoke %}btn-danger{% else %}btn-success{% endif %}">
                                    {{ diet_request.smoke|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Weight Loss" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.weight_loss %}btn-danger{% else %}btn-success{% endif %}">
                                    {{ diet_request.weight_loss|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Depression/Stress" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.depression_stress %}btn-danger{% else %}btn-success{% endif %}">
                                    {{ diet_request.depression_stress|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Medication" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.medication %}btn-danger{% else %}btn-success{% endif %}">
                                    {{ diet_request.medication|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            {% if diet_request.medication %}
                                <p>
                                    <strong>{% trans "Medication Details" %}:</strong>
                                    <span class="bg-secondary p-1 text-light rounded">
                                        {{ diet_request.medication_details }}
                                    </span>
                                </p>
                            {% endif %}
                            <p>
                                <strong>{% trans "Last Meal Time" %}:</strong>
                                <span class="bg-secondary p-1 rounded text-light small">{{ diet_request.last_meal_time }}</span>
                            </p>
                            <p>
                                <strong>{% trans "Walking Habit" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.walking %}btn-success{% else %}btn-danger{% endif %}">
                                    {{ diet_request.walking|yesno:_("Yes,No") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Sleep Quality" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.sleep %}btn-success{% else %}btn-danger{% endif %}">
                                    {{ diet_request.sleep|yesno:_("Good,Poor") }}
                                </span>
                            </p>
                            <p>
                                <strong>{% trans "Update Status" %}:</strong>
                                <span class="btn btn-sm {% if diet_request.update_status == 'PENDING' %}btn-warning {% elif diet_request.update_status == 'UPDATED' %}btn-success {% else %}btn-secondary{% endif %}">
                                    {{ diet_request.get_update_status_display }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex my-2">
                <a href="{% url "doctor:diet-create" diet_request.pk %}"
                   class="btn btn-teal ms-auto"
                   style="background:#4141e5">
                    {% if diet %}
                        {% trans "Preview Diet" %}
                    {% else %}
                        {% trans "Create diet" %}
                    {% endif %}
                </a>
            </div>
        </div>
        <h3 class="text-teal d-flex justify-content-between align-items-center">
            <span class="text-dark flex-grow-1 text-center">{% trans "Archive" %}</span>
            <button class="btn btn-teal btn-sm"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#recentDietDetailsContent"
                    aria-expanded="true"
                    aria-controls="recentDietDetailsContent"
                    style="background:#4141e5">
                <i class="fa fa-chevron-down"></i>
            </button>
        </h3>
        <div class="collapse show" id="recentDietDetailsContent">
            {% if diets %}
                <div class="container-fluid">
                    {% if diets %}
                        <div class="row">
                            {% for diet in diets %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {% trans "Diet" %} #{{ forloop.counter }}
                                            </h5>
                                            <p class="card-text">
                                                {% trans "Start Date" %}: {{ diet.start_date|date:"Y-m-d" }}
                                                <br />
                                                {% trans "End Date" %}: {{ diet.end_date|date:"Y-m-d" }}
                                            </p>
                                            <a href="{% url "patient:diet_details" diet.pk %}"
                                               class="btn btn-primary"
                                               style="background:#4141e5">{% trans "View Details" %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>
                            {% trans "No diets found" %}
                        </p>
                    {% endif %}
                </div>
            {% else %}
                <div class="bg-danger text-center w-75 text-light rounded">
                    {% trans "No Recent Diet Found" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock dash %}
