{% extends "dashboard/index.html" %}

{% load static i18n %}

{% block subtitle %}

    {% trans "Diet Informations" %}
{% endblock subtitle %}

{% block content %}
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-sm border rounded mt-5">
                    <div class="card-body p-4">
                        <h3 class='text-center text-primary fw-bold mb-4'>
                            {% trans "Diet Informations" %}
                        </h3>
                        <div class="errorList">
                        </div>
                        <form action="{% url "patient:bmi_calculator" %}"
                              class='form'
                              method='POST'>
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="height" class="form-label">
                                    {% trans "Whats your height (cm)?" %}
                                </label>
                                <input type="number"
                                       class="form-control"
                                       id="height"
                                       name="height"
                                       step="0.01"
                                       value="{% if diet_request %}{{ diet_request.bmi.height|floatformat:2 }}{% elif bmi %}{{ bmi.height|floatformat:2 }}{% endif %}"
                                       placeholder='{% trans "Enter your height in cm" %}'
                                       required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="weight" class="form-label">
                                    {% trans "What's your weight (kg)?" %}
                                </label>
                                <input type="number"
                                       class="form-control"
                                       id="weight"
                                       name="weight"
                                       step="0.01"
                                       value="{% if diet_request %}{{ diet_request.bmi.weight|floatformat:2 }}{% elif bmi %}{{ bmi.weight|floatformat:2 }}{% endif %}"
                                       placeholder='{% trans "Enter your weight in kg" %}'
                                       required />
                            </div>

                            <div class="form-group mb-3">
                                <label for="bmi" class="form-label">
                                    {% trans "Your body mass index is:" %}
                                </label>
                                <input type="number"
                                       class="form-control"
                                       id="bmi"
                                       name="bmi"
                                       value="{% if diet_request %}{{ diet_request.bmi.bmi_value|floatformat:2 }}{% elif bmi %}{{ bmi.bmi_value|floatformat:2 }}{% endif %}"
                                       readonly
                                       placeholder='{% trans "BMI will be calculated here" %}' />
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">
                                    {% trans "Select any relevant health conditions:" %}
                                </label>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="diabetes"
                                           name="illnesses"
                                           value="diabetes"
                                           {% if diet_request and diet_request.diabetes %}checked{% elif bmi and 'DIABETES' in bmi.sickness.values_list|join:", " %}checked{% endif %} />
                                    <label class="form-check-label" for="diabetes">
                                        {% trans "Diabetes" %}
                                    </label>
                                    <!-- Diabetes specific fields -->
                                    <div id="diabetesFields" class="mt-3">
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Select the type of glucose measurement:" %}
                                            </label>
                                            <select class="form-select" name="glucose_type">
                                                <option value="mg/dl" {% if diet_request and diet_request.diabetes.glucose_type == 'mg/dl' %}selected{% endif %}>
                                                    mg/dl
                                                </option>
                                                <option value="mmol/l" {% if diet_request and diet_request.diabetes.glucose_type == 'mmol/l' %}selected{% endif %}>
                                                    mmol/l
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter fasting glucose result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="fasting_glucose"
                                                   step="0.1"
                                                   value="{% if diet_request and diet_request.diabetes %}{{ diet_request.diabetes.fasting_glucose|floatformat:1 }}{% endif %}"
                                                   placeholder='{% trans "Fasting glucose result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter HbA1c result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="hba1c"
                                                   step="0.1"
                                                   value="{% if diet_request %}{{ diet_request.diabetes.hba1c }}{% endif %}"
                                                   placeholder='{% trans "HbA1c result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter CHOLESTEROL analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="diabetes_cholesterol"
                                                   step="1"
                                                   value="{% if diet_request %}{{ diet_request.diabetes.cholesterol }}{% endif %}"
                                                   placeholder='{% trans "CHOLESTEROL result" %}' />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="obesity"
                                           name="illnesses"
                                           value="obesity"
                                           {% if diet_request and diet_request.obesity %}checked{% elif bmi and 'OBESITY' in bmi.sickness.values_list|join:", " %}checked{% endif %} />
                                    <label class="form-check-label" for="obesity">
                                        {% trans "Obesity" %}
                                    </label>
                                    <!-- Obesity specific fields -->
                                    <div id="obesityFields" class="mt-3">
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter fasting glucose result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="obesity_glucose"
                                                   step="0.1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.glucose }}{% endif %}"
                                                   placeholder='{% trans "Fasting glucose result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter HDL analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="hdl"
                                                   step="0.1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.hdl }}{% endif %}"
                                                   placeholder='{% trans "HDL result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter LDL analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="ldl"
                                                   step="0.1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.ldl }}{% endif %}"
                                                   placeholder='{% trans "LDL result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter Triglycerides analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="triglycerides"
                                                   step="0.1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.triglycerides }}{% endif %}"
                                                   placeholder='{% trans "Triglycerides result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter CHOLESTEROL analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="obesity_cholesterol"
                                                   step="1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.cholesterol }}{% endif %}"
                                                   placeholder='{% trans "CHOLESTEROL result" %}' />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">
                                                {% trans "Enter AC URIC analysis result:" %}
                                            </label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="ac_uric"
                                                   step="1"
                                                   value="{% if diet_request %}{{ diet_request.obesity.ac_uric }}{% endif %}"
                                                   placeholder='{% trans "AC URIC result" %}' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row align-items-center ">
                                <div class="col-lg-6 col-md-12">
                                    {% trans "Get your Diet from:" %}
                                </div>
                                <div class="col-lg-6 col-md-12 d-flex gap-2">
                                    <button class="btn btn-outline-primary flex-grow-1" type='submit'>
                                        {% trans "AI" %}
                                    </button>
                                    <button class="btn btn-outline-primary flex-grow-1" type='submit'>
                                        {% trans "Expert" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/bmi.js' %}"></script>

{% endblock js %}
