{% extends "dashboard/index.html" %}

{% load static i18n %}

{% block dashtitle %}
    {% trans "User Details" %}
{% endblock dashtitle %}



{% block dash %}
    <div class="container-fluid">
        <div class="errorList"></div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 mb-3 mb-md-0">
                        <h5>
                            {% trans "Profile Information" %}
                        </h5>
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}"
                                 alt="{% trans 'Profile Picture' %}"
                                 class="img-thumbnail img-fluid" />
                        {% else %}
                            <div class="no-image-placeholder">
                                {% trans "No Image" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="table-responsive" style='max-height: 360px;'>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            {% trans "Username" %}
                                        </th>
                                        <td>
                                            {{ user.username }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Email" %}
                                        </th>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "First Name" %}
                                        </th>
                                        <td>
                                            {{ user.first_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Last Name" %}
                                        </th>
                                        <td>
                                            {{ user.last_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Approval Status" %}
                                        </th>
                                        <td>
                                            {% if user.profile.is_approved %}
                                                <span class="bg-success p-2 rounded text-white mx-2">{% trans "Approved" %}</span>
                                            {% else %}
                                                <span class="bg-danger p-2 rounded text-white mx-2">{% trans "Not approved" %}</span>
                                            {% endif %}

                                        </td>

                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "confirmation status" %}
                                        </th>
                                        <td>
                                            {% if user.profile.email_confirmed %}
                                                <span class="bg-success p-2 rounded text-white mx-2">{% trans "Confirmed" %}</span>
                                            {% else %}
                                                <span class="bg-danger p-2 rounded text-white mx-2">{% trans "not Confirmed" %}</span>
                                            {% endif %}
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Role" %}
                                        </th>
                                        <td>
                                            {{ user.profile.get_role_display }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <a href="{% url 'dash:list_users' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> {% trans "Back to User List" %}
            </a>
            {% if not user.profile.is_approved %}
                <form method="post" action="{% url 'dash:approve_user' user.profile.pk %}" class='d-inline form'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success mx-1">
                        {% trans "Approve User" %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock dash %}
