{% extends "dashboard/index.html" %}

{% load static i18n %}

{% block dashtitle %}
<div class="text-center fs-2" style="color:#4141e5" >

    {% trans "User Details" %}
</div>
{% endblock dashtitle %}



{% block dash %}
    <div class="container-fluid">
        <div class="errorList">
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class=" text-light p-2 mb-3" style="background:#4141e5">
                    {% trans "User Profile" %}
                </h3>
                <div class="row mb-3">
                    <div class="col-12 col-md-3 mb-3 mb-md-0">
                        <h5>
                            {% trans "Profile Information" %}
                        </h5>
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}"
                                 alt="{% trans 'Profile Picture' %}"
                                 class="img-thumbnail img-fluid" />
                        {% else %}
                            <div class="no-image-placeholder">
                                {% trans "No Image" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="table-responsive" style='max-height: 360px;'>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            {% trans "Username" %}
                                        </th>
                                        <td>
                                            {{ user.username }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Email" %}
                                        </th>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "First Name" %}
                                        </th>
                                        <td>
                                            {{ user.first_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Last Name" %}
                                        </th>
                                        <td>
                                            {{ user.last_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Approval Status" %}
                                        </th>
                                        <td>
                                            {% if user.profile.is_approved %}
                                                <span class="bg-success p-2 rounded text-white mx-2">{% trans "Approved" %}</span>
                                            {% else %}
                                                <span class="bg-danger p-2 rounded text-white mx-2">{% trans "Not approved" %}</span>
                                            {% endif %}

                                        </td>

                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "confirmation status" %}
                                        </th>
                                        <td>
                                            {% if user.profile.email_confirmed %}
                                                <span class="bg-success p-2 rounded text-white mx-2">{% trans "Confirmed" %}</span>
                                            {% else %}
                                                <span class="bg-danger p-2 rounded text-white mx-2">{% trans "not Confirmed" %}</span>
                                            {% endif %}
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>
                                            {% trans "Role" %}
                                        </th>
                                        <td>
                                            {{ user.profile.get_role_display }}
                                        </td>
                                    </tr>
                                    {% if user.profile.role == 'DOCTOR' %}
                                        <tr>
                                            <th>
                                                {% trans "User Documents" %}
                                            </th>
                                            <td>
                                                {% if user.profile.main_diploma %}
                                                    <div class="d-flex flex-column">
                                                        <span>{% trans "Main Diploma:" %}</span>
                                                        <a href="{{ user.profile.main_diploma.url }}"
                                                           target="_blank"
                                                           class="text-decoration-none ps-2">
                                                            <i class="fa fa-download"></i>
                                                            {% trans "Diploma" %}
                                                        </a>
                                                    </div>
                                                {% endif %}

                                                {% if user.profile.additional_diplomas %}
                                                    <div class="d-flex flex-column">
                                                        <span>{% trans "Additional diplomas:" %}</span>

                                                        {% if user.profile.additional_diplomas.all %}
                                                            <ul class="list-unstyled">
                                                                {% for diploma in user.profile.additional_diplomas.all %}
                                                                    <li>
                                                                        <a href="{{ diploma.diploma_file.url }}"
                                                                           target="_blank"
                                                                           class="text-decoration-none ps-2">
                                                                            <i class="fa fa-download"></i>

                                                                            {% trans "Diploma" %}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% else %}
                                                            <span class="text-muted">{% trans "No diplomas uploaded" %}</span>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if request.user.profile.role == 'DOCTOR' %}
                    <h3 class=' text-light p-2 mb-3' style="background:#4141e5">
                        {% trans "User Diet List" %}
                    </h3>
                    <div class="container-fluid">
                        {% if diets %}
                            <div class="row">
                                {% for diet in diets %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {% trans "Diet" %} #{{ forloop.counter }}
                                                </h5>
                                                <p class="card-text">
                                                    {% trans "Start Date" %}: {{ diet.start_date|date:"Y-m-d" }}
                                                    <br />
                                                    {% trans "End Date" %}: {{ diet.end_date|date:"Y-m-d" }}
                                                </p>
                                                <a href="{% url "patient:diet_details" diet.pk %}"
                                                   class="btn text-light" style="background:#0d016d"> {% trans "View Details" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>
                                {% trans "No diets found" %}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="mt-3">
            <a href="{% url 'dash:list_users' %}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> {% trans "Back to User List" %}
            </a>
            {% if not user.profile.is_approved %}
                <form method="post"
                      action="{% url 'dash:approve_user' user.profile.pk %}"
                      class='d-inline form'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success mx-1">
                        {% trans "Approve User" %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock dash %}
