{% extends "frontend/index.html" %}

{% load static i18n %}

{% block subtitle %}
    {% trans "Reset Password" %}
{% endblock subtitle %}
{% block extra_css %}{% endblock extra_css %}
{% block js %}{% endblock js %}

{% block slider %}
{% endblock slider %}

{% block nav %}
{% endblock nav %}

{% block content %}
    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center p-0">
        <div class="card w-50" style="min-width: 317px;">
            <div class="card-header bg-teal text-white m-2 rounded">
                <h2 class="mb-0 text-center" style="background:#935cb7 !important">
                    {% trans "Password Reset" %}
                </h2>
            </div>
            <ul class="errorList"></ul>
            <div class="card-body">
                <form method="post"
                      class="d-flex flex-column form"
                      action="{% url 'user_auth:password_reset' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">
                            {% trans "Email Address" %}
                        </label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder='{% trans "Enter your email" %}'
                               required />
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'user_auth:login' %}" class="btn btn-sm btn-outline-danger">
                            {% trans "Return Home" %}
                        </a>
                        <button type="submit" class="btn btn-sm btn-teal">
                            {% trans "Reset Password" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

