body {
    background-image: url('../images/diet_weeky_plans.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container .row {
    max-width: 55vw;
    margin: auto;
    min-width: 360px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form_title 
{
    color: var(--bs-white);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
    position: relative;
    z-index: 1;
    padding: 5px;
}
.form_title:before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 183, 190,.9) !important;
    backdrop-filter: blur(2px);
    z-index: -1;
    border-radius: 3px;


}
form>div {
    background-color: rgb(255, 255, 255) !important;
    padding: 5px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
    max-height: 360px;
    overflow: hidden;
    overflow-y: auto;
}

form #section3 .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form #section3 .form-group label {
    margin-right: 8px;
    width: fit-content ;
}

