{% extends "frontend/index.html" %}

{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/dash.css" %}" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" />
{% endblock css %}

{% block extra_css %}
{% endblock extra_css %}

{% block subtitle %}
    {% trans "Dashboard" %}
{% endblock subtitle %}

{% block slider %}
{% endblock slider %}

{% block nav %}
{% endblock nav %}

{% block hero %}
{% endblock hero %}

{% block content %}
    <div class="d-flex">
        <!-- Sidebar -->
        <div id="sidebar" class='d-flex flex-column shadow hide-sidebar'>
            <div class="user-overview d-flex flex-column">
                <img src="{{ user_profile.image.url }}" alt="" />
                <h3>
                    {{ request.user.username }}
                </h3>
            </div>
            <ul id="menu">
                <li class="nav-item" data-url="{% url 'dash:home' %}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <a href="{% url "dash:home" %}" class="nav-link">{% trans "Dashboard" %}</a>
                </li>
                <!-- Admin and doctor menu -->
                {% if request.user.profile.role == 'ADMIN' or request.user.profile.role == 'DOCTOR' %}
                    <li class="nav-item" data-url="{% url 'dash:list_users' %}">
                        <i class="fa fa-users" aria-hidden="true"></i>

                        <a href="{% url "dash:list_users" %}" class="nav-link">
                            {% if request.user.profile.role == 'ADMIN' %}
                                {% trans "Users" %}
                            {% elif request.user.profile.role == 'DOCTOR' %}
                                {% trans "Patients" %}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                {% comment %} admin menu {% endcomment %}
                {% if request.user.is_superuser %}

                    {% comment %} Patient Menu {% endcomment %}
                {% elif request.user.profile.role == 'PATIENT' %}
                    <li class="nav-item" data-url="{% url 'patient:diet_history' %}">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <a href="{% url "patient:diet_history" %}" class="nav-link">{% trans "Diet history" %}</a>
                    </li>
                    <div class="nt-dropdwon">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-cutlery fs-4 mx-2" aria-hidden="true"></i>
                                <span class="fs-5">{% trans "Nutrition" %}</span>

                            </div>
                            <button id="nt-drodown-toggel">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <ul id="nt-dropdown-list-items">
                            <li class="nav-item">
                                {% comment %} <i class="fa fa-users" aria-hidden="true"></i> {% endcomment %}
                                <a href="" class="nav-link">{% trans "Nutrition" %}</a>
                            </li>

                        </ul>
                    </div>
                {% elif request.user.profile.role == 'DOCTOR' %}
                    <!-- Doctor Menu -->
                    <li class="nav-item">
                        <i class="fa fa-heartbeat"></i>
                        <a class="nav-link">{% trans "Coaching" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex flex-column w-100" id='dash-page'>
            <!--Top nav-->
            <div class="dash-navbar shadow-sm">
                <div class="left">
                    <button class="menu-btn" id='menu-btn'>
                        <svg class="w-6 h-6 text-gray-800 dark:text-white"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
                        </svg>
                    </button>
                </div>
                <div class="right">
                    <button class="notification-btn">

                        <span class="bg-teal text-white">
                            {{ user_profile.notifications_count }}
                        </span>
                        <svg class="w-6 h-6 text-gray-800 dark:text-white"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                        </svg>
                        <div class="dropdown-menu shadow-sm">
                            {% if notifications %}
                                {% for item in notifications %}
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-envelope mx-2"></i>
                                            <p class='m-0'>
                                                {{ item.text|safe }}
                                            </p>
                                            <br />
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="mark-as-read">
                                    {% trans "Mark all as read" %}
                                </div>
                            {% else %}
                                <div class="text-align-center text-center">
                                    {% trans "No notifications at the moment" %}
                                </div>
                            {% endif %}
                        </div>
                    </button>
                    <a href="{% url "dash:user-profile" %}"
                       class='d-flex align-items-center'>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 32 32"
                             style="enable-background:new 0 0 32 32"
                             xml:space="preserve">
                            <path d="M16 31C7.729 31 1 24.271 1 16S7.729 1 16 1s15 6.729 15 15-6.729 15-15 15zm0-28C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3z" />
                            <circle cx="16" cy="15.133" r="4.267" />
                            <path d="M16 30c2.401 0 4.66-.606 6.635-1.671-.425-3.229-3.18-5.82-6.635-5.82s-6.21 2.591-6.635 5.82A13.935 13.935 0 0 0 16 30z" />
                        </svg>
                    </a>
                    <a href="{% url "user_auth:logout" %}" class='d-flex align-items-center'>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0">
                            </g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                            </g>
                            <g id="SVGRepo_iconCarrier">
                            <path d="M12 3.25C12.4142 3.25 12.75 3.58579 12.75 4C12.75 4.41421 12.4142 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25C12.4142 19.25 12.75 19.5858 12.75 20C12.75 20.4142 12.4142 20.75 12 20.75C7.16751 20.75 3.25 16.8325 3.25 12C3.25 7.16751 7.16751 3.25 12 3.25Z" fill="#1C274C">
                            </path>
                            <path d="M16.4697 9.53033C16.1768 9.23744 16.1768 8.76256 16.4697 8.46967C16.7626 8.17678 17.2374 8.17678 17.5303 8.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L17.5303 15.5303C17.2374 15.8232 16.7626 15.8232 16.4697 15.5303C16.1768 15.2374 16.1768 14.7626 16.4697 14.4697L18.1893 12.75H10C9.58579 12.75 9.25 12.4142 9.25 12C9.25 11.5858 9.58579 11.25 10 11.25H18.1893L16.4697 9.53033Z" fill="#1C274C">
                            </path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div id='content'>
                <h3 id='dashtitle'>
                    {% block dashtitle %}

                    {% endblock dashtitle %}
                </h3>
                <div id="dash" class='bg-light rounded p-2 pb-5'>
                    {% block dash %}

                    {% endblock dash %}

                </div>
                <div id="footer" class='d-flex'>
                    <span>{% trans "All rights reserved" %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Script to indetify the active link-->
    <script src='{% static "js/dash.js" %}'>
    </script>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
{% endblock js %}
